<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

    <f:layout name="Swiper" />

    <f:section name="Main">
        <div class="swiper-container{sliderCssClass}" id="{sliderCssId}">
            <div class="swiper-wrapper">
                <f:for each="{slides}" as="slide">
                    <div class="swiper-slide" style="{slideCss}{f:if(condition: slide.image, then: 'background-image: url({f:uri.image(image: slide.image, height: settings.show.image.height, width: settings.show.image.width)})')};">
                        <div class="overlay"></div>
                        <div class="content">{slide.content -> f:format.html()}</div>
                    </div>
                </f:for>
            </div>

            <f:if condition="{settings.pagination}">
                <div class="swiper-pagination"></div>
            </f:if>

            <f:if condition="{settings.buttons}">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </f:if>

            <f:if condition="{settings.scrollbar}">
                <div class="swiper-scrollbar"></div>
            </f:if>
        </div>
        <f:format.raw>{script}</f:format.raw>
    </f:section>
</div>
