<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

    <f:layout name="Swiper" />

    <f:section name="Main">
        <div class="swiper-container" id="{sliderCssId}">
            <div class="swiper-wrapper">
                <!-- Slides -->
                <f:for each="{sliderItems}" as="item">
                    <div class="swiper-slide">
                        <f:image src="{item.file}" height="{settings.show.image.height}" width="{settings.show.image.width}"/>
                    </div>
                </f:for>
            </div>

            <f:if condition="{settings.pagination}">
                <div class="swiper-pagination"></div>
            </f:if>

            <f:if condition="{settings.buttons}">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </f:if>

            <f:if condition="{settings.scrollbar}">
                <div class="swiper-scrollbar"></div>
            </f:if>
        </div>
        <f:format.raw>{script}</f:format.raw>
    </f:section>
</div>
